{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} 
    Change password
{% endblock %}
{% block body %}

<link href="{% static 'dashboard/build/css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/build/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/build/css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />

<style>
    #id_first_name, #id_last_name, #id_phone_no, #id_avatar, #id_email {
        width: 100%;
        padding: 8px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .form-container {
        max-width: 600px; /* Adjust width as needed */
        margin: 0 auto; /* Center horizontally */
        padding: 20px; /* Add some padding */
    }
</style>

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">
                            Change Password
                        </h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="form-container">
                <form method="post" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.errors }}
                    {% if messages %}
                        {% for msg in messages %}
                            <div class="alert alert-{{ msg.tags }} alert-dismissible text-bg-{{ msg.tags }} border-0 fade show" role="alert">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                <strong>{% if msg.tags == 'success' %}Success{% elif msg.tags == 'warning' %}Warning{% endif %} - </strong>{{ msg.message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <!-- Password Fields -->
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="oldpassword">Current Password <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" name="{{ form.old_password.name }}" id="oldpassword" placeholder="Enter Current password">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newpassword">New Password <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" name="{{ form.new_password1.name }}" id="newpassword" placeholder="Enter New password">
                                    </div>
                                    <div class="mb-3">
                                        <label for="userpassword">Confirm Password <span class="text-danger">*</span></label>
                                        <input type="password" id="userpassword" name="{{ form.new_password2.name }}" class="form-control" placeholder="Enter Confirm password">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-danger chat-send waves-effect waves-light">Change Password</button>
                                </div>
                            </div> <!-- end card-->
                        </div> <!-- end col-->
                    </div>
                    <!-- end row-->
                </form>
            </div> <!-- end form-container -->

        </div> <!-- end container -->

    </div> <!-- end content -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#category").change(function() {
                var url = $("#form").attr("data-courses-url");
                var programmingId = $(this).val();
                console.log(programmingId);
                $.ajax({
                    url: url,
                    data: {
                        'programming': programmingId
                    },
                    success: function(data) {
                        $("#courses").html(data);
                        //console.log(data);
                    },
                    error:function(data){
                        console.log(data);
                    }
                });
            });
        });
    </script>
{% endblock %}
