

{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} 
{% if instance %}Edit Voting{% else %}Edit Voting{% endif %}
{% endblock %}
{% block body %}
<title>{% if instance %}Edit Voting{% else %}Edit Voting{% endif %}
</title>

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">{% if form.instance %}Edit voting{% else %}Add voting{% endif %}
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                      
                        <form method="post" enctype="multipart/form-data" action="">
                            {% csrf_token %}
                            {{form.media}}
                            {{form.errors}}
                                {% comment %} {% if messages %}
                                {% for msg in messages %}
                                    <div class="alert alert-{{ msg.tags }} alert-dismissible text-bg-{{ msg.tags }} border-0 fade show" role="alert">
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                        <strong>{% if msg.tags == 'success' %}Success{% elif msg.tags == 'warning' %}Warning{% endif %} - </strong>{{ msg.message }}
                                    </div>
                                {% endfor %}
                            {% endif %} {% endcomment %}
                
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label">Event name</label>
                                                {{form.event}}
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label">Maximum number of votes</label>
                                                {{form.max_vote}}
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label">Minimum number of votes</label>
                                                {{form.min_vote}}
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label">Price per vote</label>
                                                {{form.price_per_vote}}
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label">List of number of voting numbers</label>
                                                {{form.voting_list}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-auto">
                                                {% if form.instance.pk %}
                                                    <button type="submit" class="btn btn-danger chat-send waves-effect waves-light">Update</button>
                                                {% else %}
                                                    <button type="submit" class="btn btn-danger chat-send waves-effect waves-light">Add</button>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <!-- end row -->

                                </div> <!-- end card-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->
                    </form>

                    </div> <!-- container -->

                </div> <!-- content -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

                <script>
                    $(document).ready(function() {
                        $("#category").change(function() {
                            var url = $("#form").attr("data-courses-url");
                            var programmingId = $(this).val();
                            console.log(programmingId);
                            $.ajax({
                                url: url,
                                data: {
                                    'programming': programmingId
                                },
                                success: function(data) {
                                    $("#courses").html(data);
                                    //console.log(data);
                                },
                                error:function(data){
                                    console.log(data);
                                }
                            });
                        });
                    });
                </script>
       {%endblock%}